name: "Continuous Integration"

on:
    pull_request:

env:
    fail-fast: true

jobs:
    phpunit-tests:
        name: "PHPUnit tests"
        runs-on: "ubuntu-20.04"

        strategy:
            matrix:
                php-version:
                    # - "7.4" Disabled due to https://github.com/composer/composer/issues/10387, which did not resolve the issue here somehow
                    - "8.0"
                    - "8.1"
                    - "8.2"
        steps:
            - name: "Checkout"
              uses: "actions/checkout@v3"
              with:
                  fetch-depth: 2

            - name: "Install PHP"
              uses: "shivammathur/setup-php@v2"
              with:
                  php-version: "${{ matrix.php-version }}"
                  extensions: "uopz"

            - name: "Cache dependencies installed with composer"
              uses: "actions/cache@v3"
              with:
                  path: "~/.composer/cache"
                  key: "php-${{ matrix.php-version }}-composer-locked-${{ hashFiles('composer.lock') }}"
                  restore-keys: "php-${{ matrix.php-version }}-composer-locked-"

            - name: "Install dependencies with composer"
              run: "composer update --no-interaction --no-progress --no-suggest"

            - name: "Run PHPUnit"
              run: "vendor/bin/phpunit --coverage-text"
